<template>
<div>
  <b-navbar toggleable="lg" type="dark" :variant="$store.getters.variant">
    <b-navbar-brand href="#">Template</b-navbar-brand>
    <b-button size="sm" class="my-2 my-sm-0" v-b-toggle.sidebar-backdrop>=</b-button>

    <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

    <b-collapse id="nav-collapse" is-nav>
      <b-navbar-nav>
        <b-nav-item href="#">Link</b-nav-item>
        <b-nav-item href="#" disabled>Disabled</b-nav-item>
      </b-navbar-nav>

      <!-- Right aligned nav items -->
      <b-navbar-nav class="ml-auto">
        <b-nav-form>
          <b-form-input size="sm" class="mr-sm-2" placeholder="Search"></b-form-input>
          <b-button size="sm" class="my-2 my-sm-0" type="submit">Search</b-button>
        </b-nav-form>

        <!-- <b-nav-item-dropdown text="Lang" right>
          <b-dropdown-item href="#">EN</b-dropdown-item>
          <b-dropdown-item href="#">ES</b-dropdown-item>
          <b-dropdown-item href="#">RU</b-dropdown-item>
          <b-dropdown-item href="#">FA</b-dropdown-item>
        </b-nav-item-dropdown> -->

        <b-nav-item-dropdown right>
          <!-- Using 'button-content' slot -->
          <template v-slot:button-content>
            <em>Settings</em>
          </template>
          <b-dropdown-item href="#">Profile</b-dropdown-item>
          <b-dropdown-item @click="changeTheme('info')">Theme - Default</b-dropdown-item>
          <b-dropdown-item @click="changeTheme('primary')">Theme - Primary</b-dropdown-item>
          <b-dropdown-item @click="changeTheme('dark')">Theme - Dark</b-dropdown-item>
          <b-dropdown-item href="#">Sign Out</b-dropdown-item>
          
        </b-nav-item-dropdown>
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
</div>
</template>

<script>

export default {
  name: "HeaderBar",
  components: {

  },
  data(){
    return {

    }
  },
  methods: {
    changeTheme(data) {
        this.$store.dispatch('variant',data)
    }
  }
};
</script>
