<template>
  <div  id="app">
    <HeaderBar/>
    <SideBar/>
    <router-view></router-view>    
    <FooterBar></FooterBar>
  </div>
</template>

<script>
import HeaderBar from "@/components/common/HeaderBar.vue";
import FooterBar from "@/components/common/FooterBar.vue";
import SideBar from "@/components/common/SideBar.vue";
  export default {name: "App",
  components: {
    HeaderBar,
    FooterBar,
    SideBar

  }}
</script>

<style lang="scss"></style>
